@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');


.game-card {
    text-align: center;
}


.score-box {

    min-height: 7rem;
    background-image: -webkit-gradient(linear, left top, right bottom, from(#7ed56f), to(#28b485));
    background-image: linear-gradient(to right bottom, rgba(3, 218, 233, 0.8), rgba(4, 250, 168, 0.8)), url('https://images.unsplash.com/photo-1496167117681-944f702be1f4?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTF8fHBhdHRlcm58ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60');

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    text-align: center;
    color: #fff;
    font-size: 4rem;
    font-weight: 100;

    border-radius: 3px;
}

.score-box i {
    margin: 0 2rem;
    text-shadow: .1rem .1rem .1rem rgba(51, 51, 51, 0.192);
}

.score-box i:last-child {
    margin-left: auto;
    ;
}

.score-box i:first-child {
    color: rgba(16, 158, 111, 0.8)
}

.score-box i:first-child span {
    color: #fff;
}

.score-box i:nth-child(2) {
    color: rgba(196, 13, 13, 0.8);
}

.score-box i:nth-child(2) span {
    color: #fff;
}

.warning {
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(0.90);

        color: rgba(196, 13, 13, 0.8);
    }

    30% {
        transform: scale(1);
        color: rgba(196, 13, 13, 0.8);
    }

    60% {
        transform: scale(.9);
        color: rgba(196, 13, 13, 0.8);
    }

    /* 80% {
        transform: scale(0.9);
        color: rgba(196, 13, 13, 0.8);
    } */

    90% {
        transform: scale(1);
        color: rgba(196, 13, 13, 0.8);
    }

    100% {
        transform: scale(0.9);
        color: rgba(196, 13, 13, 0.8);
    }
}

.score-box i:last-child span {
    color: #fff;
}


.score-box span {
    font-family: 'Lato', sans-serif;
    font-size: 3rem;
    font-weight: 300;
    margin: 0 1.2rem;
    text-align: center;
    vertical-align: middle;

}

.game-box__question-box {
    background-color: #fff;
    height: 77%;
    width: 85%;
    margin: 0 auto;
    margin-top: -2.1rem;
    box-shadow: .2rem .2rem .2rem rgba(51, 51, 51, 0.192);
    border-radius: 3px;
}

.game-box__question-box h3,
.game-box__question-box h3 span {
    font-size: 2.2rem;
    font-weight: 300;
    color: rgb(165, 162, 162);
    padding: 2rem;
}


.game-box__question-box--question {
    font-size: 2rem;
}


.choice-container {
    width: 99%;
    display: flex;
    padding: 1rem;
    font-size: 1.5rem;
    text-align: center;
    border-radius: 3px;
    transition: transform 0.3s;

}

.choice-container:hover {
    cursor: pointer;
    background-image: linear-gradient(to right bottom, rgba(3, 218, 233, 0.4), rgba(4, 250, 168, 0.4));
    opacity: ;
    transform: scale(1.03);
    background-color: rgb(243, 241, 241);
    box-shadow: 0 .5rem .5rem rgba(68, 67, 67, 0.2);
}


/* remove hover styling on mobile devices */
@media (hover: none) {
    .choice-container:hover {
        cursor: pointer;
        background-image: none;
        transform: scale(1);
        background-color: inherit;
        box-shadow: none;
    }
}

.choice-prefix {
    font-size: 1.7rem;
    padding: 0 2rem;

}

.choice-text {
    font-weight: 700;
    width: 100%;
    text-align: left;
}

.correct,
.correct:hover {
    background-image: linear-gradient(to right bottom, rgba(3, 218, 233, 0.8), rgba(4, 250, 168, 0.8)), url('https://images.unsplash.com/photo-1496167117681-944f702be1f4?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTF8fHBhdHRlcm58ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60');
    pointer-events: none;
    color: rgb(243, 241, 241);
}

.incorrect,
.incorrect:hover {
    background-image: linear-gradient(to right bottom, rgba(196, 13, 13, 0.8), rgba(248, 115, 97, 0.8)), url('https://images.unsplash.com/photo-1496167117681-944f702be1f4?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTF8fHBhdHRlcm58ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60');
    pointer-events: none;
    color: rgb(243, 241, 241);
}


/* MODAL WINDOW */
.myModal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 60rem;
    background-color: #f3f3f3;
    padding: 5rem 6rem;
    box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    z-index: 1000;
    transition: all 0.5s;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
    z-index: 100;
    transition: all 0.5s;
}

.modal__header {
    font-size: 5rem;
    font-weight: 200;
    color: rgb(94, 93, 93);
    margin-bottom: 4.5rem;
    line-height: 1.5;
    text-align: center;
    text-align: center;
    vertical-align: middle;
}

.modal__header span {
    font-size: 6rem;
    font-weight: 400;
    color: #28b485;
    text-align: center;
    vertical-align: middle;
}


.modal__form--controls {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 2rem;
    margin-right: 0.5rem;
}



.btn--close-modal {
    font-family: inherit;
    color: inherit;
    position: absolute;
    top: 0.5rem;
    right: 2rem;
    font-size: 4rem;
    cursor: pointer;
    border: none;
    background: none;
}

.hidden {
    display: none;
    opacity: 0;
}



/* LOADING WHEEL */

.loadingWheel {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2rem;
    color: rgb(243, 240, 240);
    height: 12rem;
    width: 12rem;
    border-radius: 50%;
    border: .5rem solid #28b485;
    border-top: .5rem solid #73f05d;
    border-bottom: .5rem solid #73f05d;
    animation: spin 2s ease-in-out infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(720deg);
    }

    100% {
        transform: rotate(360deg);
    }
}